#Bloc_footer
{
	display: flex;
	background-color: black;
	height: 60px;
	font-family: 'Arial','Verdana';
	color: white;
	align-items: middle;
	font-size: 20px;
}

#lien
{
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;

}

#lien a 
{
	text-decoration: none;
	color: white;
	transition: 400ms;
}

#lien a:hover
{
	color: rgb(196, 156, 108);
} 

#nous
{
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}


#nous ul
{
	display: flex;
	list-style-type: none;
}

#nous li
{
	display: flex;
	padding: 10px;
}