/* -------------------------------------------------------------------------------- Bouton Gestion Base de Donnée (Ingrédient) -------------------------------------------------------------------------------- */

#boutons
{
	display: flex;
	height: 480px;
	width: 30%;
	margin: 10px;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Arial','Verdana';
}

#boutons ul
{
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	list-style: none;
	width: 100%;
	margin-right: 10px;
	padding-right: 15px;
}

#boutons li 
{
	margin-bottom: 15px;
	border-style: solid;
	border-color: rgb(196, 156, 108);
	border-radius: 10px;
}

.case
{
	width: 300px;
	height: 60px;
	text-align: center;
	padding-top: 25px;
}

.case a
{
	text-decoration: none;
	color: black;
	transition: 400ms;

}

.case a:hover
{
	color: rgb(196, 156, 108);
} 
