/* -------------------------------------------------------------------------------- General -------------------------------------------------------------------------------- */

#Menu
{
	height: 120px;
	width: auto;
	background-color: black ;
}

#corps
{
	background-color: white;
	display: flex;
}

#fenetre
{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 500px;
}
