/* -------------------------------------------------------------------------------- Details Recette -------------------------------------------------------------------------------- */

#detail
{
	background-color: rgb(240, 240, 240);
}

#precision_titre
{
	padding-top: 30px;
	margin-bottom: 15px;
	height: 50px;
	font-size: 35px;
	text-align: center;
	font-family: 'Arial','Verdana';
	font-weight: bold;
	border-bottom: solid;
	border-color: black;
}

.sous_titre
{
	border-bottom: solid black;
	font-weight: bold;
}

.titre_partie_niv1
{
	font-weight: bold;
	font-size: 24px;
}

.titre_partie
{
	font-style: italic;
}
#precision_contenu
{
	display: flex;
	flex-direction: column;
	padding: 15px;
	padding-left: 30px;
	font-family: 'Arial','Verdana';
	font-size: 20px;
	list-style: none;
}

#contenu a
{
	text-decoration: none;
	color: black;
}

#contenu a:hover
{
	color: rgb(196, 156, 108);
}

#entete_fiche
{
	display: flex;
}

#corps_fiche
{
	display: flex;
	width: 100%;
}

#descriptif
{
	border: solid black;
	width: 30%;
	max-height: 125px;
	overflow: scroll;
}

#nom
{
	border: solid black;
	font-size: 40px;
	font-weight: bold;
	width: 70%;
	max-height: 125px;
	text-align: center;
	padding-top: 30px;
}

#progression
{
	border: solid black;
	width: 30%;
	padding: 10px;
}

#denomination
{
	border: solid black;
	width: 35%;
	padding: 10px;
}

#contenu_den
{
	display: flex;
	flex-direction: row;
}

#code
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#nature
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#unite
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#valorisation
{
	border: solid black;
	width: 35%;
	padding: 10px;
}

#contenu_val
{
	display: flex;
	flex-direction: row;
}

#total
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#prix_u
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#ptht
{
	border: solid black;
	width: 33.3333333%;
	text-align: center;
}

#precision_fonction
{
	display: flex;
	font-size: 25px;
	margin-top: 15px;
	padding-bottom: 15px;
	justify-content: center;
}

#precision_fonction ul 
{
	display: flex;
	list-style: none;
}

#precision_fonction li 
{
	margin: 50px;
	width: 300px;
	height: 50px;
	font-size: 25px;
	text-align: center;
	font-family: 'Arial','Verdana';
	font-weight: bold;
	padding-top: 20px;
	border-style: solid;
	border-color: rgb(196, 156, 108);
}

#precision_fonction a 
{
	text-decoration: none;
	color: black;
}

#precision_fonction a:hover
{
	color: rgb(196, 156, 108);
} 