.maxiParent{
	display: flex;
}

.grid > div{
    font-family: 'Arial','Verdana';
    font-size: 25px;
    font-weight: bold;
    color: black;
    border: solid 2px black;
}

.grid{
	margin: auto;
    width: 1200px;
    padding: 40px;
    /*background-color: rgb(122, 17, 215);*/
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: repeat(9);
}

.titre{
	grid-column: 2;
	grid-row: 1/2;
}

.sous_titre11{
	grid-column: 1;
	grid-row: 1;
}

.sous_titre12{
	grid-column: 1;
	grid-row: 3;
}

.sous_titre13{
	grid-column: 2;
	grid-row: 3;
}

.sous_titre14{
	grid-column: 3/4;
	grid-row: 3;
}

.sous_titre15{
	grid-column: 3/4;
	grid-row: 1;
}

.sous_titre21{
	grid-column: 1;
	grid-row: 6/7;
}

.sous_titre22{
	grid-column: 1;
	grid-row: 8/9;
}

.sous_titre23{
	grid-column: 3;
	grid-row: 5;
}

.sous_titre24{
	grid-column: 3;
	grid-row: 6;
}

.sous_titre25{
	grid-column: 3;
	grid-row: 7;
}

.sous_titre26{
	grid-column: 3;
	grid-row: 8;
}

.sous_titre27{
	grid-column: 3;
	grid-row: 9;
}

.contenu_fiche1{
	grid-column: 1;
	grid-row: 2;
}

.contenu_fiche2{
	grid-column: 1;
	grid-row: 4;
}

.contenu_fiche3{
	grid-column: 3/4;
	grid-row: 2;
}

.contenu_fiche4{
	grid-column: 2;
	grid-row: 4;
}

.contenu_fiche5{
	grid-column: 3/4;
	grid-row: 4;
}

.contenu_fiche6{
	grid-column: 2;
	grid-row: 6/7;
}

.contenu_fiche7{
	grid-column: 2;
	grid-row: 8/9;
}

.contenu_fiche8{
	grid-column: 4;
	grid-row: 5;
}

.contenu_fiche9{
	grid-column: 4;
	grid-row: 6;
}

.contenu_fiche10{
	grid-column: 4;
	grid-row: 7;
}

.contenu_fiche11{
	grid-column: 4;
	grid-row: 8;
}

.contenu_fiche12{
	grid-column: 4;
	grid-row: 9;
}