#Bloc_menu
{
	display: flex;
	width: 100%;
	height: 120px;
	font-family: 'Arial','Verdana';
	background-color: black;
}

#logo
{
	display: flex;
	padding: 7px;
	height: 100px;
	width: auto;
}

nav
{
	display: flex;
	width: 100%;
	text-align: center;	
}

nav ul
{
	text-align: middle ;
	margin-left: auto;
	display: flex;
	list-style-type: none;
}

nav li 
{
	font-size: 30px;
	margin-right: 30px;
	border-style: solid;
	border-radius: 10px;
	padding: 23px;
	border-color: rgb(196, 156, 108);
}

nav a 
{
	text-decoration: none;
	color: white;
	transition: 400ms;
}

nav a:hover
{
	color: rgb(196, 156, 108);
} 