.titre_form{
    text-align: center;
    font-family: 'Arial','Verdana';
    font-weight: bold;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
}

fieldset{
    border: none;
}

.maxiParent{
	display: flex;	
}

.grid > div{
    font-family: 'Arial','Verdana';
    font-size: 20px;
    color: black;
	border: black solid 1px;
}

.grid{
	margin: auto;
    width: 1000px;
    padding: 40px;
    /*background-color: rgb(122, 17, 215);*/
    margin-bottom: 30px;
	margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    grid-template-rows: 60px 100px 90px 1fr 40px 90px 40px 90px 40px;
	background-color: rgb(240,240,240);
	border-radius: 25px;
}

/* Position des éléments dans grid */

.titre1{
	grid-column: 2/4;
	grid-row: 1/3;
	display: flex;
}

.sous_titre11{
	grid-column: 1;
	grid-row: 1;	
	display: flex;
}

.sous_titre12{
	grid-column: 1;
	grid-row: 3;
	display: flex;
}

.sous_titre13{
	grid-column: 2;
	grid-row: 3;
	display: flex;
}

.sous_titre14{
	grid-column: 3/5;
	grid-row: 3;
	display: flex;
}

.sous_titre15{
	grid-column: 4;
	grid-row: 1;
	display: flex;
}

.sous_titre21{
	grid-column: 1;
	grid-row: 5;
	display: flex;
}

.sous_titre22{
	grid-column: 1;
	grid-row: 7;
	display: flex;
}

.sous_titre26{
	grid-column: 3;
	grid-row: 5/7;
	display: flex;
}

.sous_titre27{
	grid-column: 3;
	grid-row: 7/9;
	display: flex;
}

.contenu_fiche1{
	grid-column: 1;
	grid-row: 2;
	display: flex;
}

.contenu_fiche2{
	grid-column: 1;
	grid-row: 4;
	display: flex;
}

.contenu_fiche3{
	grid-column: 4;
	grid-row: 2;
	display: flex;
}

.contenu_fiche4{
	grid-column: 2;
	grid-row: 4;
	display: flex;
}

.contenu_fiche5{
	grid-column: 3/5;
	grid-row: 4;
	display: flex;
}

.contenu_fiche6{
	grid-column: 2;
	grid-row: 5/7;
	display: flex;
}

.contenu_fiche7{
	grid-column: 2;
	grid-row: 7/9;
	display: flex;
}

.contenu_fiche11{
	grid-column: 4;
	grid-row: 5/7;
	display: flex;
}

.contenu_fiche12{
	grid-column: 4;
	grid-row: 7/9;
	display: flex;
}

.bouton1{
    grid-column: 1;
    grid-row: 6;
    display: flex;
    cursor: pointer;
}

.bouton2{
    grid-column: 1;
    grid-row: 8;
    display: flex;
    cursor: pointer;
}

/* Style des éléments */

.titre, .num{
	margin: auto;
}

.entrer_text_titre{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.entrer_text_num{
    width: 100px;
    text-align: center;
    font-size: 25px;
}

.entrer_text_area{
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 270px;
    width: 100%;
}

#auteurSelect, #typeRecetteSelect, .sous_div{
    margin: auto;
}

#selectTypeRecette, #selectAuteur{
    width: 200px;
}

.liste_der{
    margin-left: 20%;
}

#newAuteurNom, #newAuteurPrenom, #newTypeRecette, .entrer_text1{
    font-size: 20px;
    max-width: 80%;
}

#newTypeRecette{
    margin-top: 40px;
}

.contenu_fiche7 ul, .contenu_fiche6 ul{
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sous_titre{
	margin: auto;
	font-size: 25px;
	font-weight: bold;
}

#listeIngredient, #listeRecette{
    list-style: none;
}

/* Style des boutons */

.bouton, #ajouterIngredient, #ajouterRecette{
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: rgb(196, 156, 108) solid 2px;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}

.bouton:hover, #ajouterIngredient:hover, #ajouterRecette:hover, .bouton_final:hover{
    color: rgb(196, 156, 108);
}

.bouton3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.bouton_final{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 300px;
	border:rgb(196, 156, 108) 2px solid;
    border-radius: 15px;
    background-color: transparent;
    transition: 400ms;
    cursor: pointer;
}

.boutonRecette, .boutonIngredient{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 205px;
    text-align: center;
    border: solid rgb(196, 156, 108) 2px;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}

.boutonRecette:hover, .boutonIngredient:hover{
    color: rgb(196, 156, 108);
}

